<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaxCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEE6C9071C34B75900EA6D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE6C9201C34B75900EA6D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE6C92B1C34B75900EA6D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
